.demographics {
    background-color: rgb(216, 121, 13);
    width: 85vw;
    height: 100vh;
    
}

/*---------DATA SAVE AND VERFIY BUTTONS--------------*/

.data {
    /* position: fixed; */
    position: relative;
    /* right:1%; */
    float:right; 
    /* z-index: 1; */
    /* background-color: rgb(244, 244, 244); */
    background-color: brown;
    /* margin-right: 4%; */
    width:100%;
    /* margin-top: -0.0%; */
    height:auto;
    position: relative;
    /* box-shadow: 0px 2px 5px rgba(154, 154, 154, 0.413); */
}

.d1 {
    display: flex;
    background-color: bisque;
    width: 100%;
    
    height: auto;
    justify-content: flex-end;
    /* margin:1rem 0; */
    /* margin-top: 3rem; */
    
}
.operation {
    /* background-color: blueviolet; */
    /* width: 50px; */
    
    margin-right: .3em;
    margin-top: 3rem;
    
}

.btn {
    padding: .25rem 1rem;
    font-size: .8rem;
    cursor: pointer;
    border-radius: .25rem;
    margin: 0 .25rem;
}

.btn-s {
    color: #555;
    background-color: white;
    outline: none;
    border: 1px solid rgba(85, 85, 85, 0.568);
}

.btn-p {
    background-color: #5a5fe2;
    color: white;
    padding: .25rem 2rem;
    border: 1px solid #5a5fe2;
}

.btn-risk {
    background-color: pink;
    color: black;
    padding: .25rem 2rem;
    border: 1px solid red;
}

