<div class="demographics">
    <div class="data">
    
    <div class="d1">
        <div class="operation" style="padding-top: 2px;">
            <input type="checkbox" checked>
            <label>Active</label>                            
        </div>
        <div class="operation" style="padding-top: 4px;">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div class="operation">                            
            <input type="button" class=" btn btn-s" id="reverify" name="re-verify" value="Re-Verify">                            
        </div>  
        <div class="operation">                            
            <input type="button" class=" btn btn-s" id="deletePatient" name="deletePatient" value="Delete" onclick="DeletePatient(this)">                            
        </div>                       
        <div class="operation">
            <img src="./photos/check.png" width="20px" height="20px" style="cursor: pointer;" />
        </div>
        <div class="operation">                            
            <input type="button" class="btn btn-s" name="Cancel-Changes" value="Cancel Changes" id="cancel-changes" onClick="CancelChanges(this)"/>
        </div>
        <div class="operation">
            <input type="submit" class="btn btn-p" name="Save" value="Save" />
        </div>
    </div>
</div>
    
    

</div>
