table {
    text-align: left;
    color:blueviolet;
    border-collapse: collapse;

}



table td, table th {
    border: 1px solid blueviolet;
    padding: 10px;
    min-width: 110px;
    width: auto;
    
}

img {
    width: auto;
    height: 150px;
}

.adjust-update-link {
    color:blueviolet;
    margin-left: 10px;
}