<h1>{{ title }} !</h1>

<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input
    type="text"
    formControlName="user"
    placeholder="Enter Name"
    name="user"
  />
  <span style="color:red" *ngIf="user && user.invalid && user.touched"
    >Not Valid</span
  >
  <br /><br />
  <input
    type="password"
    formControlName="password"
    placeholder="Enter Password"
    name="password"
  />
  <span
    style="color:red"
    *ngIf="password && password.invalid && password.touched"
    >Not Valid</span
  >
  <br /><br />
  <button [disabled]="loginForm.invalid">Login</button>
</form>
