
<!-- HEADER -->
<header>
    <div class="header-menu-leftside">
        <ul class="header-logo" style="list-style: none;">
            <li><img src ="https://iemodemoindia.meditab.com/full-logo.c38ee174b79456191d11.png" height="40px" width="40px" style=" padding-left: 5px;" /></li>
            <li><i class="fa-solid fa-gear"></i></li>
            <li><i class="fa-solid fa-magnifying-glass"></i></li>
            <li><i class="fa-solid fa-user"></i></li>
            <li><i class="fa-solid fa-calendar-days"></i></li>
            <li><i class="fa-solid fa-user-shield"></i></li>
            <li><i class="fa-solid fa-shield-heart"></i></li>
            <li><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            <li><i class="fa-solid fa-notes-medical"></i></li>
            <li><i class="fa-solid fa-flask"></i></li>
            <li><i class="fa-solid fa-arrow-down"></i></li>
            <li><i class="fa-solid fa-arrow-up"></i></li>
            <li><i class="fa-solid fa-file-invoice"></i></li>
            <li><i class="fa-solid fa-dollar-sign"></i></li>
            <li><i class="fa-solid fa-file-invoice-dollar"></i></li>
            <li><i class="fa-solid fa-magnifying-glass-dollar"></i></li>
            <li><i class="fa-solid fa-hand-holding-dollar"></i></li>
            <li><i class="fa-solid fa-envelope-circle-check"></i></li>
            <li><i class="fa-solid fa-circle-dollar-to-slot"></i></li>
            <li><i class="fa-solid fa-sack-dollar"></i></li>
            <li><i class="fa-solid fa-receipt"></i></li>
            <li><i class="fa-solid fa-book"></i></li>
            <li><i class="fa-solid fa-envelope-open-text"></i></li>
            <li><i class="fa-solid fa-chart-line"></i></li>
        </ul>
    </div> 
    <div class="header-menu-rightside">
        <ul class="header-logo" style="list-style: none;">
            <input type="text" style=" width: 270px;" class="search" placeholder=' Search Patient - lname fname dob #chart'>
            <li><i class="fa-solid fa-calendar-week"></i></li>
            <li><i class="fa-solid fa-circle-question"></i></li>
            <li><i class="fa-solid fa-lock"></i></li>
            <li><p id="header-username"></p></li>
        </ul>     
    </div>
</header>