.history {
    /* border: 1px solid black; */
    height: 100%;
    
}

.title {
    background-color: rgb(255, 111, 0);
    color: #fff;
    padding: 5px 15px;
    font-weight: 550;
    margin-top: 15px;
    margin-left: auto;
    width: 300px;
    font-size: 25px;
    border-bottom-left-radius: 50px;
    padding-left: 35px;
}