nav img {
  width: 70px;
}
nav {
  background-color: skyblue;
}

ul {
  float: right;
  list-style: none;
  margin-right: 5px;
}

ul > * {
  display: inline-block;
  padding: 10px;
}
ul li:hover {
  background-color: #1976d284;
  border-radius: 5px;
}

li a {
  text-decoration: none;
  color: white;
}
