<div class="second-menu">
    <ul class="second-menu-list" style="list-style: none;">
        <li><i class="fa-solid fa-fax"></i>          <p class="menuItem">4</p></li>
        <li><i class="fa-solid fa-comment-dots"></i> <p class="menuItem">0</p></li>
        <li><i class="fa-solid fa-envelope"></i>     <p class="menuItem">4</p></li>
        <li><i class="fa-solid fa-bell"></i>         <p class="menuItem">0</p></li>
        <li><i class="fa-solid fa-note-sticky"></i>  <p class="menuItem">0</p></li>
        <li><i class="fa-solid fa-list-check"></i>   <p class="menuItem"></p></li>
        <li><i class="fa-solid fa-calendar-plus"></i><p class="menuItem"></p></li>
    </ul>
</div>
