<div class="main">
  
  <p class="main__paragraph">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime inventore quisquam, placeat reprehenderit, ut quaerat porro animi soluta, 
    facilis possimus fugiat! Cumque natus eum excepturi quidem commodi fugit accusamus eius!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime inventore quisquam, placeat reprehenderit, ut quaerat porro animi soluta, 
    facilis possimus fugiat! Cumque natus eum excepturi quidem commodi fugit accusamus eius!
  </p>
  <p class="main__paragraph">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime inventore quisquam, placeat reprehenderit, ut quaerat porro animi soluta, 
    facilis possimus fugiat! Cumque natus eum excepturi quidem commodi fugit accusamus eius!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime inventore quisquam, placeat reprehenderit, ut quaerat porro animi soluta, 
    facilis possimus fugiat! Cumque natus eum excepturi quidem commodi fugit accusamus eius!
  </p>
</div>