<div class="sidebar">
    <div class="sidebar-arrow"><i class="fa-sharp fa-solid fa-chevron-left" id="sd-arrow" onclick="collapse_side_bar()"></i></div>
    <ul class="sidebar-list" style="list-style: none;">
        <li class="sidebar-item">Dashboard</li>
        <li class="sidebar-item sidebar-active-item">Demographics</li>
        <li class="sidebar-item">Insurance</li>
        <li class="sidebar-item">Case</li>
        <li class="sidebar-item">Contacts</li>
        <li class="sidebar-item">Employer</li>
        <li class="sidebar-item">Appointments</li>
        <li class="sidebar-item">Encounters</li>
        <li class="sidebar-item">Documents</li>
        <li class="sidebar-item">Notes & Alerts</li>
        <li class="sidebar-item">Forms</li>
        <li class="sidebar-item">Consents</li>
        <li class="sidebar-item">Reminder Prefrence</li><br>
        <hr class="sidebar-break">
        <li class="sidebar-item">Allergy</li>
        <li class="sidebar-item">Diagnosis</li>
        <li class="sidebar-item">Family History</li>
        <li class="sidebar-item">Prescription</li>
        <li class="sidebar-item">Lab</li>
        <li class="sidebar-item">Immunization</li>
        <li class="sidebar-item">Vitals</li><br>
        <hr class="sidebar-break">
        <li class="sidebar-item">Authorization</li>
        <li class="sidebar-item">Claims</li>
        <li class="sidebar-item">Receipts</li>
        <li class="sidebar-item">Open Credit</li>
        <li class="sidebar-item">Statements</li>
        <li class="sidebar-item">Ledger</li>
    </ul>
</div>